<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
		<title>{% block title %}{{ applicationTitle }}{% endblock %}</title>
    	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="build/images/application-login-page/icons/favicon.ico"/>
        
        {% block stylesheets %}
        	{{ encore_entry_link_tags( 'css/app', null, 'ApplicationThemeWithRegistrationAndProfile' ) }}
        {% endblock %}
    	{% block javascripts_head %}
    		{{ encore_entry_script_tags( 'js/app', null, 'ApplicationThemeWithRegistrationAndProfile' ) }}
    	{% endblock %}
    </head>
    <body>
		{% block content %}{% endblock %}
		
		{% block widgets %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
