<!doctype html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
    <head>
        <title>{% block title %}{{ applicationTitle }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="build/application-simple-theme/images/application-login-page/icons/favicon.ico"/>
        
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            
            {{ encore_entry_link_tags( 'css/login', null, 'ApplicationSimpleTheme' ) }}
        {% endblock %}
        {% block javascripts_head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags( 'js/login', null, 'ApplicationSimpleTheme' ) }}
        {% endblock %}
    </body>
</html>