{% extends "base-login.html.twig" %}

{% block content %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">{{ applicationTitle }}</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(build/application-simple-theme/images/vankosoft-thumb.png);"></div>
                        <h3 class="text-center mb-0">Welcome</h3>
                        <p class="text-center">Sign in by entering the information below</p>
                
                        {% if error %}
                            <div class="login100-form-error p-2 m-b-10">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form class="login-form" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token( 'authenticate' ) }}" />
                            
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" name="_username" placeholder="Username" value="{{ last_username }}" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control" name="_password" placeholder="Password" required>
                            </div>
                        {% if formCreateAccount %}
                            <div class="form-group d-md-flex">
                                <div class="w-100 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                        {% endif %}
                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Login</button>
                            </div>
                        </form>
                    {% if formCreateAccount %}
                        <div class="w-100 text-center mt-4 text">
                            <p class="mb-0">Don't have an account?</p>
                            <a href="#">Sign Up</a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
